# -*- coding: utf-8 -*-
"""configurations for several cases"""

import os
import logging
basedir = os.path.abspath(os.path.dirname(__file__))


# pylint: disable=R0903
class Config:
    """base config"""
    @staticmethod
    def init_app(app):
        """mandatory init function"""


class DevelopmentConfig(Config):
    """dev purpose"""
    DBLOGLEVEL = logging.DEBUG  # DEBUG, INFO, WARN, ERR
    DBLOGFORMAT = '%(asctime)s -- %(message)s'
    DEBUG = True  # generate debug artefacts
    ZIPS = "data"
    STATIC = "data/pages"
    TITLE = "Home opds directory"
    FB2_XSLT = 'fb2_to_html.xsl'
    APPLICATION_ROOT = ''
    PAGE_SIZE = 10
    MAX_SEARCH_RES = 50
    PG_HOST = '127.0.0.1'
    PG_BASE = 'books'
    PG_USER = 'books'
    PG_PASS = 'ExamplePassword'
    HIDE_DELETED = True
    PIC_WIDTH = 200


class TestConfig(Config):
    """for automatic testing (may be sometimes)"""
    DBLOGLEVEL = logging.DEBUG
    DBLOGFORMAT = '%(asctime)s -- %(message)s'
    TESTING = True
    # DEBUG = False
    DEBUG = True
    ZIPS = "data"
    STATIC = "data/pages"
    TITLE = "Home opds directory"
    FB2_XSLT = 'fb2_to_html.xsl'
    APPLICATION_ROOT = '/books'
    PAGE_SIZE = 10
    MAX_SEARCH_RES = 50
    PG_HOST = '127.0.0.1'
    PG_BASE = 'books'
    PG_USER = 'books'
    PG_PASS = 'ExamplePassword'
    HIDE_DELETED = True
    PIC_WIDTH = 200


class ProductionConfig(Config):
    """production"""
    DBLOGLEVEL = logging.INFO
    DBLOGFORMAT = '%(asctime)s -- %(message)s'
    DEBUG = False
    ZIPS = "data"
    STATIC = "data/pages"
    TITLE = "Home opds directory"
    FB2_XSLT = 'fb2_to_html.xsl'
    APPLICATION_ROOT = '/books'
    PAGE_SIZE = 50
    MAX_SEARCH_RES = 500
    PG_HOST = '127.0.0.1'
    PG_BASE = 'books'
    PG_USER = 'books'
    PG_PASS = 'ExamplePassword'
    HIDE_DELETED = False
    PIC_WIDTH = 200


config = {"development": DevelopmentConfig, "test": TestConfig, "prod": ProductionConfig}

SELECTED_CONFIG = os.getenv("FLASK_ENV", "development")
